{% extends "navbar.html" %}
{% block content %}
<style>
  html,
  body {
    height: 100%;
  }

  .container-fluid{
    position: absolute;
    left: 0px;
    top: 0px;
  }


  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .top {
    margin-bottom: -5px;
    border-radius: 0px;
    perspective: 1px;

  }

  .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  p { margin:0 }

  alert{
    width: 100%;
  }

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ce2f4897a1.js" crossorigin="anonymous"></script>


<link href="signin.css" rel="stylesheet">

  <body class="text-center">
    <form class="form-signin" method="POST">
      {{form.hidden_tag()}}
      <img class="mb-4" src="/static/WebsiteLogoboldtransp.png" alt="" width="280" height="215">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      {{form.hidden_tag()}}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {%for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
      {% endfor %}
     {% endif %}
     {% endwith %}
      <p>
        {{form.username(class_="form-control top")}}
      </p>
      <p>
        {{form.password(class_="form-control bottom")}}
      </p>
      <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
      <p>{{form.submit(class_ = "btn btn-lg btn-success btn-block" )}}</p>
      </form>
      <p>New User? <a href= {{url_for('auth.register')}}>Register</a> here </p>
      <p>
    Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
</p>
  </body>
</html>
{% endblock %}
