<!-- html, javascript and CSS style sheets for the login page -->

{% extends "navbar.html" %}
{% block content %}

<!-- CSS styling -->
<style>

  /* Body styling */
  html,body {
    height: 100%;
  }

  /* Makes sure form is centered and has a certain width */

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  /* Styles the first input with no rounded borders at the bottom of the input */

  .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Styles the second input with no rounded borders at the top of the input */

  .bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* Ensures theres no space between input fields */

  p {
    margin:0
  }

  /* Ensures alert has 100% width restricted by the container */

  alert{
    width: 100%;
  }

</style>

  <body class="text-center">
    <form class="form-signin" method="POST">
      <!-- prevents certain cybersecurity attacks -->
      {{form.hidden_tag()}}

      <img class="mb-4" src="/static/WebsiteLogoboldtransp.png" alt="" width="280" height="215">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <!-- ensures flash messages obey the form format -->

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {%for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
      {% endfor %}
     {% endif %}
     {% endwith %}

     <!-- the forms input fields -->
      <p>
        {{form.username(class_="form-control top")}}
      </p>
      <p>
        {{form.password(class_="form-control bottom")}}
      </p>
      <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
      <p>{{form.submit(class_ = "btn btn-lg btn-success btn-block" )}}</p>
      </form>
      <p>New User? <a href= {{url_for('auth.register')}}>Register</a> here </p>
      <p>
    Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
</p>
  </body>
</html>
{% endblock %}
