<!-- html, javascript and CSS style sheets for the registration page -->


    {% extends "navbar.html" %}
    {% block content %}
    <style>

      /* Body styling */

      html,
      body {
        height: 100%;
      }

      /* Makes sure form is centered and has a certain width */

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
      }

      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }

      /* Styles the first input with no rounded borders at the bottom of the input */

      .top {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      /* Styles the middle input with no rounded borders */

      .middle{
        border-radius: 0;
        margin-bottom: -1px;
      }

      /* Styles bottom inputs with no rounded borders on top */

      .bottom {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      /* Ensures theres no space between input fields */

      p { margin:0 }

    </style>

      <body class="text-center">
        <form class="form-signin" method="POST">

          <!-- prevents certain cybersecurity attacks -->

          {{form.hidden_tag()}}
          <img class="mb-4" src="/static/WebsiteLogoboldtransp.png" alt="" width="280" height="215">
          <h1 class="h3 mb-3 font-weight-normal">Register</h1>

          <!-- ensures error items are shown in a danger bootstrap alert module  -->

          {% if form.errors.items() %}
          <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <li class="text-center">{{ form[field].label }}: {{ ', '.join(errors) }}</li>
            {% endfor %}
          </div>
          {% endif %}

          <!-- form fields  -->


          <p>
            {{form.username(class_="form-control top")}}
          </p>
          <p>
            {{form.email(class_="form-control middle")}}
          </p>
          <p>
            {{form.postcode(class_="form-control middle")}}
          </p>
          <p>
            {{form.password(class_="form-control middle")}}
          </p>
          <p>
            {{form.password2(class_="form-control bottom")}}
          </p>
          <p>{{form.submit(class_ = "btn btn-lg btn-success btn-block" )}}</p>



          </form>

      </body>
    </html>
    {% endblock %}
