
<!-- html, javascript and CSS style sheets for the reset password request page -->

{% extends "navbar.html" %}
{% block content %}

<style>

  /* Ensures both the submit and email input buttons don't take up the whole width */

.submit{
  width: 30%;
}

/* Ensures both the submit and email input buttons take up more width when spectating on mobile versions*/


@media (max-width: 1028px) {
  .submit {
    width: 50%;
  }
}

p{
  margin: 0
}

</style>

    <h1>Reset Password ♻️</h1>
    <form action="" method="post">
      <!-- prevents certain cybersecurity attacks -->
        {{ form.hidden_tag() }}
      <!-- form input fields -->
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64,class_="form-control submit") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span> <!-- shows errors if form fails validation checks -->
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="form-control btn btn-success submit") }}</p>
    </form>
{% endblock %}
