<!-- html, javascript and CSS style sheets for the reset password page -->

{% extends "navbar.html" %}

{% block content %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
      <!-- prevents certain cybersecurity attacks -->
        {{ form.hidden_tag() }}
        <!-- form input fields -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class_="form-control")}}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32 class_="form-control") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span> <!-- shows errors if form fails validation checks -->
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="form-control btn btn-success") }}</p>
    </form>
{% endblock %}
