
<!-- html email which will be set when users request a new password -->
<p>Dear {{ user.username }},</p>
<p>
    You can reset your password using the following
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        link
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Speakup Team</p>
