                               <!-- A subtemplate dedicated to displaying comments on several pages -->

<!-- includes jquery and moment js to determine time -->

{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<div class="media text-muted pt-3">
  <!-- avatar of the user -->
  <img data-src="holder.js/31x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded user_popup" style="width: 32px; height: 32px;" data-toggle="popover" data-placement="bottom" src={{ post.author.avatar(36) }} data-holder-rendered="true">
  <!-- horizontal border -->
  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <!-- Defines the author of the comment -->
    <strong class="d-block text-gray-dark"><a class="link" href="{{ url_for('main.user', username=post.author.username) }}">{{post.author.username}} said {{ moment(post.timestamp).fromNow() }}: </a></strong>
    <!-- Defines the body of the content -->
    <span id="post{{ post.id }}">{{ post.body }}</span>
    {% if post.language and post.language != g.locale %}
    <br><br>
    <!-- Defines translate function if the language of the post isn't preferred locale of the user -->

    <span id="translation{{ post.id }}">
      <a class="link" href="javascript:translate(
                                  '#post{{ post.id }}',
                                  '#translation{{ post.id }}',
                                  '{{ post.language }}',
                                  '{{ g.locale }}');">{{ ('Translate') }}</a>
    </span>
    {% endif %}
    <br>
    <br>
    <!-- A backreference to which debate speech the user was commenting on -->
    {% if you %}
    <a class="link" href="/hansard/{{post.speech.minorheading.majorheading.hansard.debate_type}}/{{post.speech.minorheading.majorheading.hansard.date+"#"+post.speech.exact_id}}"> about {{post.speech.minorheading.body}} discussions on the date {{post.speech.minorheading.majorheading.hansard.date}}</a>
    {% endif %}
    <!-- {% if post.author == current_user %}
    <a href="{{url_for('main.delete', postid=post.id)}}">delete</a>
    {% endif %} -->
  </p>
</div>
