{% extends "navbar.html" %}

{% block content %}
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
  {%for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
