
{% extends "navbar.html" %}

{% block content %}

<style>
  .one {
    background-color: #5EA656;
    margin-top: 13px;

  }

  .two {
    background-color: #F8F9FA;
    margin-top: 10px;
    margin-right: 10px;
  }


  .fixed-top {
    position: fixed;
    max-height: 75vh;
    margin-top: 100px;
    margin-left: 30px;
    overflow: auto;
  }

  .words {
    margin-top: 30px;
    margin-bottom: 30px;
  }




  @media (max-width: 1028px) {
    .one {
      display: none !important;
    }
  }

  .menu {
    background-color: #5EA656;
    border-width: 0;
  }

  .card {
    margin: 5px, 5px;
  }

  #srcLibArticles {
    display: none
  }

  .Highlighted a {
    background-color: Green !important;
    color: White !important;
  }

  .commentbutton{
    width: 30%;
  }

  .navbtn {
    width: 100%;
  }

  .help{
    width: 30%;
  }

  #wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

  .ui-datepicker-trigger {
   height: 5%;
   width: 5%;

}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>


<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
  jQuery.noConflict()
  jQuery16 = jQuery
</script>

<script>
    SelectedDates = {};
		jQuery16(document).ready(function($) {

    $('.my-data').each(function(){
          date = $(this).attr('data-name');
          SelectedDates[new Date(date)] = new Date(date).toString();
      });

    $('#datepicker').datepicker({
      showOn: 'button',
      buttonImage: "https://image.flaticon.com/icons/svg/2928/2928733.svg",
      buttonImageOnly: true,
        beforeShowDay: function(date) {
            var Highlight = SelectedDates[date];
            if (Highlight) {
                return [true, "Highlighted", Highlight];
            }
            else {
                return [true, '', ''];
            }
        },
        onSelect: function(date){

        }
    });
  });
</script>

<script>
  $(function() {
    $('#exampleModal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('#srcLibArticles').text(recipient)
    })
  });
</script>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {%for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}



  {% for date in dates %}
  <meta class="my-data" data-name="{{date}}">
  {% endfor %}



  <div class="container-fluid text-wrap justify-content-between">
    <div class="row">
      <div class="col-3 fixed-top one overflow-auto">
        {%for major_heading in data.majorheading.all()%}
        <a class="navbtn btn text-left" data-toggle="collapse" href="#{{major_heading.body.replace(" ", "").replace(":","")}}" role="button" aria-expanded="false" aria-controls="collapseExample">
          {{major_heading.body}}
        </a>


        <div class="collapse" id={{major_heading.body.replace(" ", "").replace(":","")}}>
          <div style="background-color:#5EA656; border: none;" class="menu card card-body">
            <ul>
              {%for minor_heading in major_heading.minorheading.all()%}
              <a href="#h6{{minor_heading.body.replace(" ", "")}}">
                <li>{{minor_heading.body}}</li>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-lg-9 offset-lg-3 two">
    <br>
    <h1 style="text-align: center;">HANSARD {{data.date}}</h1>
    <h6 style="text-align: center;">Not the debate you were looking for?</h6>
    <h6 style="text-align: center;">Select another date:</h6>

        <span><form action="" method="post">
          <div style="width: 60% height: 40%" id="wrapper">
            {{ form2.csrf_token() }}
            {{ form2.date() }}
            {{ form2.submit(class_ = "btn btn-success btn-sm" ) }}
            {% for error in form2.date.errors %}
            <span>[{{ error }}]</span>
            {% endfor %}
            </div>
        </form></span>

    <br>

  </div>
  {%for major_heading in data.majorheading.all()%}
  <div class="col-lg-9 offset-lg-3 two">
    <h3 id="h3{{major_heading.body.replace(" ", "").replace(":","")}}">{{major_heading.body}}</h3>
    {%for minor_heading in major_heading.minorheading.all()%}
    <h6 id="h6{{minor_heading.body.replace(" ", "")}}">{{minor_heading.body}}</h6>
    {%for speech in minor_heading.speech.all()%}
    <div id={{speech.exact_id}} class="card card-body">
      <b>{{speech.author_id}} says:</b>
      {%for paragraph in speech.paragraph.all()%}
      <p>{{paragraph.body}}</p>
      {% endfor %}
      <button type="button" class="btn btn-primary commentbutton" data-toggle="modal" data-target="#exampleModal" data-whatever="{{speech.exact_id}}">Comment</button>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
  {% endfor %}


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id= "dateform" action="" method="post">
            {{ form1.csrf_token() }}
            <p>
              {{ form1.post.label }}<br>
              {{ form1.post(cols=32, rows=4) }}<br>
              {{ form1.hidden }}
              {% for error in form1.post.errors %}
              <span>[{{ error }}]</span>
              {% endfor %}
            {{ form1.submit() }}
          </form>

        </div>
      </div>
    </div>
  </div>



</body>

</html>

{% endblock %}
