{% extends "navbar.html" %}

{% block content %}

        <style>
            .one{
                background-color:#5EA656;
                margin-top: 13px;

            }
            .two{
                background-color:#F8F9FA;
                margin-top: 10px;
            }
            .container-fluid{
            }

            .fixed-top{
              position: fixed;
              max-height: 75vh;
              margin-top: 100px;
              margin-left: 30px;
              overflow:auto;
            }

            .words{
              margin-top: 30px;
              margin-bottom: 30px;
            }

            .btn{
              width: 100%;
            }
            @media (max-width: 1028px){
              .one {
                display: none !important;
                }
            }
            .card{
              background-color:#5EA656;
              border-width: 0;
            }


        </style>
    </head>
    <body>
        <div class="container-fluid text-wrap justify-content-between">
            <div class="row">
                <div class="col-3 fixed-top one overflow-auto">
            {%for major_heading, major_heading_elms in data.items():%}
  <a class="btn text-left" data-toggle="collapse" href="#{{major_heading.replace(" ", "")}}" role="button" aria-expanded="false" aria-controls="collapseExample">
    {{major_heading}}
  </a>
<div class="collapse" id={{major_heading.replace(" ", "")}}>
  <div class="card card-body">
    <ul>
      {%for minor_heading, minor_heading_paragraphs in major_heading_elms.items():%}
      <li>{{minor_heading}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
                  </div>
              </div>
              </div>

                {%for major_heading, major_heading_elms in data.items():%}
                <div class="col-lg-9 offset-lg-3 two">

                <h3 id = "h3{{major_heading.replace(" ", "")}}">{{major_heading}}</h3>
                {%for minor_heading, minor_heading_paragraphs in major_heading_elms.items():%}
                <h6 id = "h6{{minor_heading.replace(" ", "")}}" >{{minor_heading}}</h6>

                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </body>
</html>

{% endblock %}
