<!-- A template rendered for the home page of the websites -->

{% extends "navbar.html" %}
{% block content %}

<!-- CSS Styles to include -->

<style>
  /* determines the width and height of shortcut buttons */
  .btn {
    width:200px;
    height:100px
    padding:5px;
}
</style>

<!-- Actual HTML code -->

<!-- Code to display flashed messages in an alert bar -->
{% with messages = get_flashed_messages() %}
{% if messages %}
  {%for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
  <div class="col-lg-12">
    <br>

    <!-- title of page -->


    <h2>Welcome! {{current_user.username}} 🇦🇺 </h2>


    <!-- container for the main links to get started -->

    <div class="my-3 p-3 bg-light text-center rounded box-shadow shadow-sm">
    <h6>Quick links to get started</h6>
    <p><a href="{{url_for('rep.myrepresentative')}}" class="btn btn-outline-success text-center">Get to know your representative 👩🏻‍⚖️</a>
    <a href="{{url_for('senators.allsenators')}}" class="btn btn-outline-success text-center">Get to know your senators 👨🏻‍⚖️</a></p>
    <p><a href="{{url_for('main.main_hansard')}}" class="btn btn-outline-success text-center">The latest rep <br> debates 📢</a>
    <a href="{{url_for('main.main_hansardsen')}}" class="btn btn-outline-success text-center">The latest senate debates 📣 </a></p>
    <p><a href="{{url_for('main.explore')}}" class="btn btn-outline-success text-center">Find other users to follow 👨‍👩‍👧</a></p>

    </div>

    <!-- a shortcut preview of the users newfeed -->

    <div class="my-3 p-3 bg-light rounded box-shadow shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
    <small class="d-block text-right mt-3">
      <a href={{url_for('main.newsfeed')}}>All updates</a>
    </small>
  </div>

</div>
</div>

<!-- Libraries to include -->

<!-- jquery 3.5.1 CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- popper JS to handle popping windows-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<!-- bootstrap version 4.52 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock %}
