
{% extends "navbar.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {%for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<style>
  .btn {
    width:200px;
    height:100px
    padding:5px;
}


</style>

<div class="row">
  <div class="col-lg-12">
    <br>
    <br>
    <br>
    <h2>Welcome! {{current_user.username}} 👩🏻‍⚖️</h2>


    <div class="my-3 p-3 bg-light text-center rounded box-shadow shadow-sm">
    <h6>Quick links to get started</h6>
    <button type="button" class="btn btn-success text-center">Get to know your representative</button>
    <button type="button" class="btn btn-success text-center">The latest debate itinerary</button>
    <button type="button" class="btn btn-success text-center">Explore other users to follow</button>
    </div>
    <div class="my-3 p-3 bg-light rounded box-shadow shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
  </div>

  <form action="" method="post">
       {{ form.hidden_tag() }}
       <p>
           {{ form.post.label }}<br>
           {{ form.post(cols=32, rows=4) }}<br>
           {% for error in form.post.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
       </p>
       <p>{{ form.submit() }}</p>
   </form>

</div>
</div>

{% endblock %}
