<!doctype html>
<!-- The base template of all templates which documents how to implement the navigation bar and footer of screen-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Speak up : a new way to view parliament debates">
    <meta name="author" content="Michelle Wong">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<!-- CSS Styles to include -->

<style>

  /* sets navigation links to be in line with navigation brand */
  .nav-link{
    margin-top: 6px;
  }


  /* makes sure all links are labelled green instead of blue */
  .link{
       color: #5EA656;
    }

  .link:hover  { color: #2BB673 !important;  }


</style>

<!-- Actual HTML code -->

<!-- Universal navigation panel -->

    <div class="container-fullwidth">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="/static/websitelogobold.svg" width="75" height="75" class="d-inline-block align-top brand" alt="" loading="lazy">
        <a class="navbar-brand" href="{{url_for('main.index')}}"> Speak up</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" href={{url_for('main.index')}}>Home <span class="sr-only">(current)</span></a>
            {% if current_user.is_anonymous %}
            <a class="nav-link active" href={{url_for('auth.login')}}>Log in <span class="sr-only">(current)</span></a>
            {% else %}
            <a class="nav-link active" href={{url_for('main.explore')}}>Explore <span class="sr-only">(current)</span></a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Representatives</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{url_for('main.main_hansard')}}">The latest Representative debates</a>
                  <a class="dropdown-item" href="{{url_for('rep.myrepresentative')}}">My representative</a>
                  <a class="dropdown-item" href="{{url_for('rep.allrepresentatives')}}">All representatives</a>
                </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Senators</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{url_for('main.main_hansardsen')}}">The latest Senate Debates</a>
              <a class="dropdown-item" href="{{url_for('senators.mystatesenators')}}">My State Senators</a>
              <a class="dropdown-item" href="{{url_for('senators.allsenators')}}">All senators</a>

          </div>
</li>
            <a class="nav-link active" href={{url_for('main.user', username= current_user.username)}}>My Profile <span class="sr-only">(current)</span></a>

            <!-- Shows a notification badge next to main messages url-->

            <a class="nav-link active" href="{{ url_for('main.messages') }}">{{ _('Messages') }}
                            {% set new_messages = current_user.new_messages() %}
                            <span id="message_count" class="badge"
                                  style="visibility: {% if new_messages %}visible
                                                     {% else %}hidden{% endif %};">
                                {{ new_messages }}
                            </span>
                        </a>
            <a class="nav-link active" href={{url_for('auth.logout')}}>Log out <span class="sr-only">(current)</span></a>
            {% endif %}
          </div>
        </div>
      </nav>
  </head>

  <!-- The main content of the container-->

      <div class="container">
        {% block content %}{% endblock %}
      </div>

  <!-- Universal javascript functions-->

      <script>
             //translate text using a ajax requests
             function translate(sourceElem, destElem, sourceLang, destLang) {
                 $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
                 $.post('/translate', {
                     text: $(sourceElem).text(),
                     source_language: sourceLang,
                     dest_language: destLang
                 }).done(function(response) {
                     $(destElem).text(response['text'])
                 }).fail(function() {
                     $(destElem).text("{{'Error: Could not contact server.'}}");
                 });
             }
             //Sets the message count
             function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
             }

             //Sets notification count next to message link dynamically, without users refreshing the page

             {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                          switch (notifications[i].name) {
                              case 'unread_message_count':
                                  set_message_count(notifications[i].data);
                                  break;
                              case 'task_progress':
                                  set_task_progress(notifications[i].data.task_id,
                                      notifications[i].data.progress);
                                  break;
                          }
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}


         </script>

         <!-- Footer-->


        <footer class="footer mt-auto py-3">
          <div class="container">
            <span class="text-muted">Made with ❤️ by Michelle Wong © 2020</span>
          </div>
        </footer>
