<!-- A template dedicated to displaying the profile of a user-->

{% extends "navbar.html" %}
{% block content %}

<style>

  /* formats profile image and titles */
  .emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
  }

  /* formats profile image */

  .profile-img {
    text-align: center;
  }

  /* formats profile title and texts */
  .profile-head{
    background-color: #F8F9FA;
  }

  .profile-head h4 {
    color: #5EA656;
  }

  .proile-rating {
    font-size: 16px;
    color: #818182;
    margin: 0px;
  }

  /* formats profile navigation tabs and linkes */

  .profile-head .nav-tabs {
    margin-bottom: 5%;
  }

  .profile-head .nav-tabs .nav-link {
    font-weight: 400;
    border: none;
  }

  .profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #5EA656;
  }

  .profile-tab label {
    font-weight: 400;
  }

  .profile-tab p {
    font-weight: 400;
    color: #5EA656;
  }

    .nav-tabs > li > a{
    color: #5EA656;
  }

  .nav-tabs{
    width: 100%;
  }


  p {
    margin: 0
  }

  /* formats social buttons */
  .spacer {
    display: inline-block;
    width: 5px;
  }

  .socials {
    margin-left: 100px;
  }


}
</style>


<!-- Libraries to include -->

<!-- bootstrap style sheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- jquery 3.5.1 CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- popper JS to handle popping windows-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<!-- Webkit for social icon buttons-->
<script src="https://kit.fontawesome.com/ce2f4897a1.js" crossorigin="anonymous"></script>
<!-- bootstrap version 4.52 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- Actual HTML code -->
<!-- Handle flashed messages-->

{% with messages = get_flashed_messages() %}
{% if messages %}
  {%for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{message}}
  </div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- include moment js to show when the user was last seen-->
{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<!-- Profile header-->

<div class="container emp-profile">
    <div class="row">
      <div class="col-md-2">
        <div class="profile-img">
          <img class ="profile" src="{{ user.avatar(128) }}">
          <div class="">
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile-head">
          <h1>
              {{ user.username }}
          </h1>
          {% if user == current_user %}
                        <p>
                          <a class="btn btn-success" href="{{ url_for('main.edit_profile') }}" role="button">Edit your profile</a>
                        {% elif not current_user.is_following(user) %}
                        <p>
                            <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Follow', class_ = "btn btn-success" ) }}
                            </form>
                        </p>
                        {% else %}
                        <p>
                            <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                                {{ form.hidden_tag() }}
                                {{ form.submit(value='Unfollow', class_ = "btn btn-success") }}
                            </form>
                        </p>
                        {% endif %}
                        {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
          <table>
          <h4>
          </h4>
          <p class="proile-rating">{% if user.last_seen %}Last seen: {{ moment(user.last_seen).format('LLL') }} {% endif %}</p>
          <p class="proile-rating">{{ user.followers.count() }} followers</p>
          <p class="proile-rating">{{ user.followed.count() }} following</p>
<!-- Navigation Tab headers -->


          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Posts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-12">
        <!-- First tab content -->

        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <h6>About me: </h6>
            <br> Postcode: {{user.postcode}}
            <br> Representative: {{user.representative}}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
              </div>
        <!-- Second tab content -->

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                  {% for post in posts %}
                      {% include '_post.html' %}
                  {% endfor %}
                  <small class="d-block text-right mt-3">
                    <a href={{url_for('main.userpost',username=username)}}>All Comments</a>

                  </small>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
