{% extends "navbar.html" %}
{% block content %}

<style>
.profile{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

</style>
<br><br>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ce2f4897a1.js" crossorigin="anonymous"></script>


<div class="my-3 p-3 bg-light text-center rounded box-shadow shadow-sm">

  <br>
  <img class ="profile" src="{{ user.avatar(128) }}">
  <h3>{{ user.username }}</h3>
  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
  {% if user == current_user %}
                <p>
                  <a class="btn btn-success" href="{{ url_for('edit_profile') }}" role="button">Edit your profile</a>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                </p>
                {% endif %}
  <table>
    <tr>
      <td style="text-align:center"><span class = "bigger">{% if user.last_seen %}Last seen</span><br>{{ user.last_seen }}</p>{% endif %}</th>
      <td style="text-align:center"><p><span class = "bigger">{{ user.followers.count() }}</span><br> followers</p></th>
      <td style="text-align:center"><p><span class = "bigger">{{ user.followed.count() }}</span> <br>following</p></th>
    </tr>
  </table>
</div>

<div class="my-3 p-3 bg-light rounded box-shadow shadow-sm">
  <h6>About me: </h6>
  {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
  <br> <b>Postcode: {{user.postcode}}</b>
  <br> <b>Representative: {{user.representative}}</b>
</div>



<div class="my-3 p-3 bg-light rounded box-shadow shadow-sm">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
</div>

{% endblock %}
